body {
  height: 500px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.window {
  position: absolute;
  height: 300px;
  width: 300px;
}

/* div {
  float: left;
  height: 150px;
  position: absolute;
  width: 150px;
} /**/




#graph {
  background: #FFFACD;
  height: 60%;
  left: 0;
  position: absolute;
  top: 0;
  width: 60%;
}

#orders {
  /* background: green; /**/
  height: 100%;
  left: 60%;
  overflow-y: scroll;
  overflow-x: none;
  position: absolute;
  top: 0;
  width: 40%;
}

 .indicacion {
    background: gray;
    border-radius: 5px;
    border:1px solid CornflowerBlue;
    color: black;
    float: left;
    margin: 3px 1%;
    padding: 1%;
    width: 95%;
  }

  .medicamento {
    background: LightSteelBlue;

  }

  .enfermeria {
    background: #a1c4a5;

  }

  .laboratorio {
    background: #c4c4a1;

  }

 .radiografia {
    background: #b5a1c4;

  }

  .nutricion {
    background: #c4aea1;
  }

  .procedimiento {
    background: #a1c4bf;
  }


#controls {
  background: #FFFACD;
  height: 40%;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: 60%;
  width: 60%;
}


