body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	margin:0px;
	padding:0px;
	
}
body{
	background-attachment: fixed;
}

ul{
	margin:0;
	padding:0;
}
ul.container{
	position:absolute;
	
	top:-200px;	
}
li{
	list-style:none;
	text-align:center;
}
li.menu{
	width:100%;
}
li.princ a {

background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #b5b1b5) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #b5b1b5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#b5b1b5');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0px;
	border:1px solid #cfc9cf;
	display:inline-block;
	color:#434ca8;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:39px;
	line-height:39px;
	margin:5px 0;
	width:100px;
	text-decoration:none;
	text-align:center;
}


li.button a{

background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a1b1c2), color-stop(1, #51678a) );
	background:-moz-linear-gradient( center top, #a1b1c2 5%, #51678a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1b1c2', endColorstr='#51678a');
	background-color:#a1b1c2;
	-webkit-border-top-left-radius:11px;
	-moz-border-radius-topleft:11px;
	border-top-left-radius:11px;
	-webkit-border-top-right-radius:11px;
	-moz-border-radius-topright:11px;
	border-top-right-radius:11px;
	-webkit-border-bottom-right-radius:11px;
	-moz-border-radius-bottomright:11px;
	border-bottom-right-radius:11px;
	-webkit-border-bottom-left-radius:11px;
	-moz-border-radius-bottomleft:11px;
	border-bottom-left-radius:11px;
	text-indent:0px;
	border:1px solid #d6d6d6;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:39px;
	line-height:39px;
	width:100px;
	text-decoration:none;
	text-align:center;	
}
.botton:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #51678a), color-stop(1, #a1b1c2) );
	background:-moz-linear-gradient( center top, #51678a 5%, #a1b1c2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#51678a', endColorstr='#a1b1c2');
	background-color:#51678a;	
}
.botton:active {
	position:relative;
	top:1px;
}
.dropdown{
	
	display:none;
	padding-top:5px;
	width:100%;
}

.clear{
	clear:both;
}
#mains{
	
	margin:15px auto;
	text-align:center;
	width:920px;
	position:relative;
	top:200px;
}
a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}
	li.dropdown a{

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #b5b1b5) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #b5b1b5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#b5b1b5');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:7px;
	-moz-border-radius-topleft:7px;
	border-top-left-radius:7px;
	-webkit-border-top-right-radius:7px;
	-moz-border-radius-topright:7px;
	border-top-right-radius:7px;
	-webkit-border-bottom-right-radius:7px;
	-moz-border-radius-bottomright:7px;
	border-bottom-right-radius:7px;
	-webkit-border-bottom-left-radius:7px;
	-moz-border-radius-bottomleft:7px;
	border-bottom-left-radius:7px;
	text-indent:0px;
	border:1px solid #bcbad1;
	display:block;
	color:#51678a;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:28px;
	line-height:28px;
	margin:1px 0;
	width:100px;
	text-decoration:none;
	text-align:center;
	
}
