html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%; 
	background-color: #F3FFAB;
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0;
	overflow-x:hidden; 
}

.background {
    
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.header {
	width: 100%;
	height: 150px;
	background-color: #779BC9;
}

.background.menu {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 250px;
	background-color: red;
	margin-top: 100px;
	margin-bottom: 70px; 
	
	
}

.menu {
	height: auto;
	width: 250px;
	
}

#footer {
	width: 100%;
	height: 10px;
    background-color:;
    font-size: 12px;
    color:black;
   
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:80%;
	position:relative;
	top:40px;
	left:90px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #2076bc;
	position: relative;
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	border-bottom-left-radius:20px;
	
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-right-radius:20px;
	border-bottom-right-radius:20px;
	
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	border-top-right-radius:20px;
	
	-moz-border-radius-topleft:20px;
	-webkit-border-top-left-radius:20px;
	border-top-left-radius:20px;
}.CSSTableGenerator table{
	width:100%;
	height:50%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:20px;
	-webkit-border-bottom-right-radius:20px;
	border-bottom-right-radius:20px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:20px;
	-webkit-border-top-left-radius:20px;
	border-top-left-radius:20px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:20px;
	-webkit-border-top-right-radius:20px;
	border-top-right-radius:20px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:20px;
	-webkit-border-bottom-left-radius:20px;
	border-bottom-left-radius:20px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#eaeab6; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffaa; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #2076bc;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:10px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #8fb8e0 5%, #3c6187 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8fb8e0), color-stop(1, #3c6187) );
	background:-moz-linear-gradient( center top, #8fb8e0 5%, #3c6187 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#8fb8e0", endColorstr="#3c6187");	background: -o-linear-gradient(top,#8fb8e0,3c6187);

	background-color:#8fb8e0;
	border:0px solid #2076bc;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:21px;
	font-family:Helvetica;
	font-weight:bold;
	color:#ffffff;
}
 
#img {
     position:absolute;
     right:20px;
} 
#im {
  background-image: url("/images/log.png");
  bahground-position: 250px 5px;
  background-repeat: no-repeat;
  color: white;
  font-size:25px;
  padding-left:50px;
 
 } 
  #uni {
  background-image: url("/images/LogoHU.png");
  background-position: 250px 5px;
  background-repeat: no-repeat;
  color: white;
  font-size: 21px;
  height: 55px;
  padding-top: 47px;
}
